LOG_LEVEL=trace

# dev mode: no cache control, gin dev mode, plain logging
DEV=true

# static hosting: serve embedded static spa files instead of proxying to ui dev server
# defaults to true; set to false to enable ui proxying for development
STATIC_HOSTING=false


ACCESS_LOGS=api # api,ui
